.empty-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.empty-section-img {
    width: 16rem;
    height: 16rem;
}

.empty-section-description {
    color: var(--PRIMARY-COLOR)
}
.btn-naviagte-shop-now {
    margin-top: 2.8rem;
    width: 14rem;
    display: flex;
    justify-content: center;
}