/*CSS for page layout*/
.productpage-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "products-filter main main main"
    "footer footer footer footer";
}

.products-filter {
  margin: 4rem 2rem 4rem 4rem;
  max-height: 70rem;
  grid-area: products-filter;
}

.productpage-main .card{
  max-height: 48.5rem;
}

.productpage-container .productpage-main {
  grid-area: main;
  margin: 4rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.productpage-container .footer {
  grid-area: footer;
}

/* Card */
.btn-category-card{
  color:var(--WHITE-COLOR)
}

.card-btn {
  margin-top: 1rem;
}

.card-img {
  max-height: 27rem;
}

.btn-wishlist{
  background-color: var(--WHITE-COLOR);
  color:var(--PRIMARY-COlOR);
  width:4rem;
  height:4rem;
  border-radius: 50%;
  cursor: pointer;
}

.btn-wishlist-fill{
  background-color: var(--WHITE-COLOR);
  color: var(--ROSE-RED-COLOR);
  width:4rem;
  height:4rem;
  border-radius: 50%;
  cursor: pointer;
}

.btn-wishlist:hover,
.btn-wishlist-fill:hover{
  transform: scale(1);
  color: var(--ROSE-RED-COLOR);
}

.product-rating {
  padding: 5px 10px;
  margin-left: 1.5rem;
}

/*Filter for smaller viewports*/
.filter-icon {
  display: none;
}
.filters {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 199;
  background-color: var(--WHITE-COLOR);
}

.btn-close-filter {
  align-self: flex-end;
  padding: 1rem 2.8rem 0 0;
  cursor: pointer;
  background-color: var(--SECONDARY-COlOR);
  color: var(--ROSE-RED-COLOR);
  opacity: .9;
}

.btn-close-filter:active {
  opacity: 1;
}

/*Media Query*/
@media screen and (max-width: 768px) {
  .productpage-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
      grid-template-areas: "filter filter filter filter"
      "main main main main"
      "footer footer footer footer";
      }

  .productpage-container .productpage-main {
    justify-content: center;
  }

  .filter-icon {
    cursor: pointer;
    padding: 1.6rem 1rem;
    display: flex;
    align-items: center;
    color: var(--PRIMARY-COLOR);
    font-size: 3.2rem;
    grid-area: filter;
  }
  
}
