/*CSS for page layout*/
.wishlist-container{
    display: grid;
    height: calc(100vh - 11rem);
    grid-template-rows: 1fr auto;
}

.wishlist-main{
    margin: 5rem;
}

/*Wishlist products styling*/
.wishlist-heading{
    color: var(--PRIMARY-COLOR);
}

.wishlist-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;   
    gap: 3rem;
}

@media screen and (max-width:1048px) {
    .wishlist-container {
        height: calc(100vh - 160.4px);
    }
}

@media screen and (max-width:648px) {
    .wishlist-container {
        height: calc(100vh - 15.4rem);
    }
}

@media screen and (max-width:428px) {
    .wishlist-container {
        height: calc(100vh - 9.4rem);
    }
}

@media screen and (max-width:328px) {
    .wishlist-container {
        height: calc(100vh - 7.3rem);
    }
}