/*CSS for page layout*/
.wishlist-container{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.wishlist-main{
    margin: 5rem;
}

/*Wishlist products styling*/
.wishlist-heading{
    color: var(--PRIMARY-COLOR);
}

.wishlist-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;   
    gap: 3rem;
}
