/*CSS for page layout*/
.cart-container {
    display: grid;
    min-height: calc(100vh - 11rem);
    grid-template-rows: 1fr auto;
}

.cart-main {
    margin: 5rem;
}

.cart-product-details{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(45rem,1fr));
    justify-items: center;
    align-items: center;
    padding-top: 3rem;
}

.cart-product-details .card{
    align-self: self-start;
}


/*Styling for product quantity block*/

.btn-quantity{
    justify-content: center;
}

.quantity-display{
    display: inline-block;
    margin: 8px 0;
    padding: 1rem 1.2rem;
    max-width: 8rem;
    align-self: center;
    background-color: var(--GRAY-COLOR);
    border: 1px solid var(--GRAY-COLOR);
}

.btn-quantity-plus,
.btn-quantity-minus{
    margin: 1rem 1.2rem;
    font-size: 2.2rem;
    background-color: var(--WHITE-COLOR);
}

@media screen and (max-width:1048px) {
    .cart-container {
        height: calc(100vh - 16rem);
    }
}

@media screen and (max-width:648px) {
    .cart-main {
        margin: 0;
        margin-top: 5rem;
    }

    .cart-container {
        height: calc(100vh - 15.4rem);
    }
}

@media screen and (max-width:428px) {
    .cart-container {
        height: calc(100vh - 9.4rem);
    }
}

@media screen and (max-width:328px) {
    .cart-container {
        height: calc(100vh - 7.3rem);
    }
}