.overlay {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7)
}

.modal-body {
    max-width: 40rem;
    width: 70%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1000;
}
.btn-close-modal {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 2.2rem;
    cursor: pointer;
}

.btn-close-modal:hover {
    font-size: 2.4rem;
}