/*Navabar section*/
.navbar {
    height: auto;
    min-height: 8rem;
}
.form-search{
    outline: none;
    max-width: 50rem;
    padding-left: 2rem; 
    border: 1px var(--PRIMARY-COLOR);
    background-color: var(--SECONDARY-COLOR);
}

.form-search:focus{
   background-color: var(--WHITE-COLOR);
}

.navbar-link{
    width: 2.8rem;
    height: 2.8rem;
}

.navbar-link:hover{
    color: var(--WHITE-COLOR);
    transform: scale(1.1);
}

.navbar-menu{
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.btn-shop-now{
    font-size: 1.6rem;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    background: var(--PRIMARY-COLOR);
    color: var(--WHITE-COLOR);
}

.btn-shop-now:hover{ 
    transform: scale(1.1);
    color: var(--WHITE-COLOR);
}

.badge-navlink{
    top:-8px;
    right:-10px;
    font-size: 8px;
    width: 2.2rem;
    height: 2.2rem;
    background-color: var(--ROSE-RED-COLOR);
}
.list-inline:nth-child(2) {
    display: none;
}

@media screen and (max-width:1048px) {

    .navbar-logo {
        width: 14rem;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar-form {
        order: 2;
        min-width: 98.6%;
        padding-bottom: 1.2rem;
    }

}

@media screen and (max-width:648px) {

    .navbar-menu .list-inline:nth-of-type(3),
    .navbar-menu .list-inline:nth-of-type(4),
    .navbar-menu .list-inline:nth-of-type(5) {
        display: none;
    }

    .navbar-menu .list-inline:nth-child(2) {
        cursor: pointer;
        display: block;
    }


    .navbar-menu {
        justify-content: flex-end;
    }

    .navbar-form {
        min-width: 97%;
    }
}

@media screen and (max-width:428px) {

    .navbar-logo {
        width: 10rem;
    }

    .navbar-menu {
        flex-grow: 1;
    }

    .navbar-form {
        min-width: 96%;
    }

    .list-inline:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width:280px) {

    .navbar {
        flex-wrap: nowrap;
    }
    .navbar-form{
        display: none;
    }
}