.shuttle-motion-snackbar {
    margin-top: 1rem;
    transition: all .3s ease-in;
    bottom: 1rem;
    right: 1rem;
}

.snackbar-container {
    font-size: 14px;
    position: fixed;
    z-index: var(--Z-INDEX-999);
    top: 7.5rem;
    right: 1rem;
    animation: toast-in-right .7s;
}