.shuttle-shopy-snackbar {
    margin-top: 1rem;
    bottom: 1rem;
    right: 1rem;
    transition: all .3s ease-in;
}

.snackbar-container {
    font-size: 14px;
    position: fixed;
    z-index: var(--Z-INDEX-999);
    bottom: 1.5rem;
    right: 1rem;
}