@import url("https://shuttleui.netlify.app/components/components-styles/shuttleUI-main.css");
body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

/*CSS Variables*/
:root {
  --PRIMARY-COLOR: #4b4453;
  --PRIMARY-COLOR-DARK:#3f3946;
  --GRAY-COLOR: #ece6e6;
  --WHITE-COLOR: #fff;
  --BLACK-COLOR: #000;
  --SECONDARY-COLOR: #dbd9dc;
  --ACCENT-COLOR: #4c5344;
  --ROSE-RED-COLOR:#FF5964;
  --Z-INDEX-9:9;
  --Z-INDEX-199:199;
  --Z-INDEX-99:99;
  --Z-INDEX-999:999;
}

/*Utility class*/
.flex-row-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-primary {
  color: var(--PRIMARY-COLOR);
}

.card {
  min-width: 31rem;
  max-width: 31rem;
}

.card img{
  aspect-ratio: 4/3;
}
/*MEDIA QUERIES*/

@media screen and (max-width:648px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width:428px) {
  html {
    font-size: 45%;
  }

  input,
  input::-webkit-input-placeholder {
    font-size: 1.6rem;
  }
}

@media screen and (max-width:328px) {

  html {
    font-size: 35%;
  }

}